h1 {
    color: black;
    font-size: x-large;
    padding: 20px;
}

h2 {
    color: black;
}

.app-ssi_login {
    overflow: scroll !important;
}

.custom-button {
    display: block;
    margin: auto;
    max-width: max-content;
}

.description {
    color: black;
    padding: 20px;
}

.center {
    position: absolute;
    top: 10%;
    width: 100%;
    padding: 20px;
    padding-bottom: 100px;
}

.card {
    width:fit-content;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
}

.qrcode {
    max-width: -webkit-fill-available !important;
}

.backButton:hover {
    text-decoration: underline;
}

